        body{
            margin:0;
            font-family: Arial, Helvetica, sans-serif;
            background-color:#f4f4f4;
        }
        header{
            background-color:#111;
            color:white;
            padding:15px;
            text-align:center;
        }
        nav{
            background-color:#333;
            overflow:hidden;
        }
        #nav{
            float:left;
            color:white;
            padding:14px 20px;
            text-decoration:none;
        }
        nav a{
            float:left;
            color:white;
            padding:14px 20px;
            text-decoration:none;
        }
        nav a:hover{
            background-color: rgb(0, 162, 255);
        }
        .banner{
            background-image: url(porsche.jpg);
            height:300px;
            background-size:cover;
            background-position:center;
            color:white;
            display:flex;
            align-items:center;
            justify-content:center;
            font-size:36px;
            font-weight:bold;
        }
        .container{
            padding:20px;
        }
        .cars{
            display:flex;
            gap:22px;
            flex-wrap:wrap;
        }
        .car{
            background:white;
            width:300px;
            border-radius:10px;
            
        }
        .car img{
            width:100%;
            height:180px;
            object-fit:cover;
        }
        .car h3{
            margin:10px;
        }
        .car p{
            margin:10px;
            color:#555;
        }
        .price{
            color:#ff6600;
            font-weight:bold;
        }
        footer{
            background-color:#111;
            color:white;
            text-align:center;
            padding:10px;
            margin-top:20px;
        }
        li{
            padding: 5px;
            font-weight:bold;
            margin-bottom: 5px;
        }